<a name="navigation" id="navigation"></a>
<footer class="site-footer group">
  <div class="wrap">

    <div class="column third-col">
      <h4>Chapter Intro</h4>
      <ol>
        <li><a href="/0/presenting/">Presenting Yourself is Tough</a></li>
        <li><a href="/0/who/">Who this guide is for</a></li>
      </ol> 

      <h4>Chapter One</h4>
      <ol>
        <li><a href="/1/embrace-the-grey/">Embrace the grey</a></li>
        <li><a href="/1/ground-yourself-with-skills/">Ground yourself with skills</a></li>
        <li><a href="/1/what-do-you-want/">What sort of work do you want do be doing</a></li>
        <li><a href="/1/consider-companies/">Carefully consider companies</a></li>
      </ol> 
    </div><!-- /.column -->

    <div class="column third-col">
      <h4>Chapter Two</h4>
      <ol>
        <li><a href="/2/you-need-a-portfolio/">You need a portfolio</a></li>
        <li><a href="/2/case-studies/">Case studies - structured</a></li>
        <li><a href="/2/portfolio-overview/">Overview - each project should have an elevator pitch</a></li>
        <li><a href="/2/portfolio-problem-definition/">Problem Definition - what’s the problem you were trying to solve</a></li>
        <li><a href="/2/portfolio-audience/">Audience - identify the face of your project</a></li>
        <li><a href="/2/portfolio-team-role/">The team and your role</a></li>
        <li><a href="/2/portfolio-process/">Design Process - everyone loves a good story</a></li>
        <li><a href="/2/portfolio-retrospective/">Retrospective</a></li>
      </ol> 
    </div><!-- /.column -->

    <div class="column third-col">
      <h4>Chapter Three</h4>
      <ol>
        <li><a href="/3/getting-work-online/">Getting your work online</a></li>
        <li><a href="/3/getting-feedback/">Getting feedback</a></li>
        <li><a href="/3/social-presence/">Prepping your social presence</a></li>
        <li><a href="/3/connect-with-people/">Connect with people, not companies</a></li>
        <li><a href="/3/resumes/">To resume, or not to resume</a></li>
        <li><a href="/3/recruiters/">Dealing with recruiters</a></li>
        <li><a href="/3/interview-process/">The interview process</a></li>
      </ol>

      <h4>Appendix</h4>
      <ol>
        <li><a href="/appendix/fin/">You’re just getting started</a></li>
        <li><a href="/appendix/inspirational-portfolios/">Appendix A - Inspirational Portfolios</a></li>
      </ol>
    </div><!-- /.column -->

  </div><!-- /.wrap -->
</footer>
