---
layout: default
---

<article class="wrap page">
  <header class="essay-header">
    <h1 class="essay-title">{{ page.title }}</h1>
    <a href="#navigation" class="button button-material button-action button-menu"></a>
  </header>

  <main class="essay-body">
    {{ content }}
  </main>
</article>

{% if page.next-link %}
  <aside class="next-page">
    <a class="essay-footer-action" href="{{page.next-link}}">Continue reading &rarr;</a>
  </aside>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    $('a[href$="{{ page.permalink }}"]').addClass('active')
  });  
</script>
